<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">个人简介</h2>
                <hr class="light">
                <p class="text-faded" align="left">古恒宇，男，广东广州人，南京大学地理与海洋科学学院研究员，助理教授（Tenure-Track）。



北京大学—芝加哥大学联合培养博士，主要研究方向为人口地理与区域发展、城市计算与城市空间治理。发表SSCI/SCI/CSSCI论文80余篇，其中以第一/通讯作者在Annals of the AAG、地理学报等发表论文50余篇。任中国地理学会人口地理专业委员会委员，中国非洲问题研究会理事，国际人口地理学旗舰期刊Population, Space and Place国际编委会成员，Spatial Demography and Population Governance丛书编委，并担任Spatial Demography、Geography and Sustainability、地理与地理信息科学、地域研究与开发、世界地理研究、热带地理编委/青年编委。出版专著2部、译著1部。入选中国科协青年人才托举工程，主持国家自然科学基金青年基金、Lincoln Institute China Program International Fellowship、教育部人文社会科学基金、招商局慈善基金会/中国人口福利基金会青年学者资助计划、中国科协高端科技创新智库青年项目。政策要报获国家级批示，获北京大学优秀博士论文、北京市优秀毕业生等奖励。</p>
                <a href="#" class="btn btn-default btn-xl">了解更多</a>
            </div>
        </div>
    </div>
</section>
