<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">个人简介</h2>
                <hr class="light">
                <p class="text-faded" align="left">古恒宇，男，广东广州人，南京大学地理与海洋科学学院研究员，助理教授（Tenure-Track）。



主要研究方向为人口迁移与城镇化、城市计算与城市空间治理。发表SSCI/SCI/CSSCI论文70余篇，其中以第一/通讯作者在Annals of the American Association of Geographers、Applied Geography、Population, Space and Place、Cities、Environment and Planning A&B、地理学报、地理研究等发表论文40余篇。任中国地理学会人口地理专业委员会委员，Spatial Demography、《地理与地理信息科学》、《热带地理》编委及30余本期刊匿名审稿人。出版专著2部、译著1部。主持Lincoln Institute China Program International Fellowship、招商局慈善基金会/中国人口福利基金会青年学者资助计划、中国科协高端科技创新智库青年项目。获北京大学优秀博士论文、北京市优秀毕业生、IACP Best Student Paper Award、香港中文大学研究员资助、国家奖学金、领跑者F5000论文、北京大学博士校长奖学金等奖励。</p>
                <a href="#" class="btn btn-default btn-xl">了解更多</a>
            </div>
        </div>
    </div>
</section>
