<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hengyu GU</h1>
            <img src="img/portfolio/GHY.jpg" class="img-responsive" alt="">
            <hr>
            <p>Office Address: 	School of Geography and Ocean Science,<br>
                Nanjing University, Nanjing, China<br>
                E-mail Address:	hygu@nju.edu.cn<br>
                ORCID: https://orcid.org/0000-0002-1174-4940 
                
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">了解更多</a>
        </div>
    </div>
</header>
