<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="img/GHY-o.png">
            <!-- <p><br></p> -->
            <h1>Hengyu GU NJU</h1>
            <hr>
            <p>Office Address:	Room B202, School of Geography and Ocean Science,<br>
                Nanjing University, Nanjing, Jiangsu, China<br>
                E-mail Address:	hygu@nju.edu.cn<br>
                <a href="https://orcid.org/0000-0002-1174-4940">ORCID: https://orcid.org/0000-0002-1174-4940</a>
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Learn More</a>
        </div>
    </div>
</header>
