<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">学术履历</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>教育背景</h3>
                    <p class="text-muted" align="left">
                        2016.09—2021.07：北京大学    经济学博士    区域经济学（硕博连读）<br>
                        2019.08—2020.09：芝加哥大学    联合培养博士    空间数据科学（国家公派）<br>
                        2012.09—2016.07：华南师范大学    理学学士    地理信息系统
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>工作经历</h3>
                    <p class="text-muted" align="left">
                        2023.03至今：南京大学   地理与海洋科学学院    特聘研究员/助理教授（Tenure-Track），博导 <br>
                        2021.08—2023.02：香港中文大学    地理与资源管理学系副研究员/博士后研究员 <br>
                        2021.08—2023.02：香港中文大学    深圳研究院    助理研究员（兼）
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>开设课程</h3>
                    <p class="text-muted" align="left">
                        智慧城市科学（本科，拔尖计划核心课，秋季） <br>
                        区域经济学（本科，选修课，春季）
                    </p>
                </div>
            </div>            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>团队方向</h3>
                    <p class="text-muted" align="left">
                        我正在组建南京大学空间人口与人口地理研究小组，欢迎具有GIS、人文地理、城乡规划、应用经济学及相关背景，且对我的研究领域感兴趣的本科生和研究生同学联系hygu@nju.edu.cn。具有计量经济学基础、掌握一定的计算机编程能力、具有较好中英文写作能力者将优先考虑，目前聚焦以下三个具体研究议题：  <br>
                        ——人口迁移与区域发展：致力于通过前沿空间计量分析模型和多源时空大数据，揭示中国区域间人口多尺度、多时段流动和迁移空间规律和机制，及其与区域可持续发展的关联。 <br>
                        ——人才地理学：在城市、地区、国家和全球多尺度视角下，关注各类人才在地理空间上的分布格局、流动过程、集聚机制、创新效应，为盘活我国人才红利提供政策借鉴。 <br>
                        ——空间人口分析理论、技术与方法：构建空间人口学和人口地理学前沿技术与方法，挖掘中国特色的空间人口学和人口地理学理论。
                    </p>
                </div>
            </div>   
            
        </div>
    </div>
</section>
