<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">学术信息</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>教育背景</h3>
                    <p class="text-muted" align="left">
                        2016.09—2021.07：北京大学    经济学博士    区域经济学（硕博连读）<br>
                        2019.08—2020.09：芝加哥大学    联合培养博士    空间数据科学（国家公派）<br>
                        2012.09—2016.07：华南师范大学    理学学士    地理信息系统
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>工作经历</h3>
                    <p class="text-muted" align="left">
                        2023.03至今    南京大学    地理与海洋科学学院    研究员/助理教授（Tenure-Track）<br>
                        2021.08—2023.02：香港中文大学    地理与资源管理学系    副研究员/博士后研究员<br><br>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>奖励荣誉</h3>
                    <p class="text-muted" align="left">
                        Research Fellowship Scheme, CUHK (香港中文大学研究员资助)<br>
                        2022年“领跑者5000”F5000论文奖<br>
                        国际中国规划学会（IACP）Best Student Paper Award<br>
                        北京大学优秀博士论文<br>
                        北京市优秀毕业生<br>
                        博士研究生国家奖学金<br>
                        北京大学博士研究生校长奖学金<br>
                        廖凯原奖学金<br>
                        北京大学专项奖学金<br>
                        北京大学三好学生<br>
                        北京大学学术创新奖
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>社会兼职</h3>
                    <p class="text-muted" align="left">
                        中国地理学会人口地理专业委员会委员（2023—2027）<br>
                        Spatial Demography编委<br>
                        Spatial Demography and Population Governance 丛书编委<br>
                        INQUIRY: The Journal of Health Care Organization, Provision, and Financing编委<br>
                        《地理与地理信息科学》编委（2022—2026）<br>
                        《热带地理》青年编委（2022—2026）
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
